@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  min-height: 100%;
}





@layer components {
  .btn-green {
    @apply 
    text-black
    bg-[#13F287]
    hover:bg-[#B5FF57]
      font-light
      rounded-lg 
      text-xl 
      px-5
      py-2.5
      text-center
      me-2 mb-2;
  }
  .btn-dark{
    @apply 
    text-white 
    bg-gray-800 
    hover:bg-gray-900 
      focus:outline-none 
      focus:ring-4 
    focus:ring-gray-300 
      font-medium 
      rounded-lg 
      text-sm px-5 
      py-2.5 me-2 mb-2 
    dark:bg-gray-800 
    dark:hover:bg-gray-700 
    dark:focus:ring-gray-700 
    dark:border-gray-700
  }

  .btn-red{
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
  }

  .input-default{
    @apply
    bg-gray-50 border
    border-gray-300
    text-gray-900 
      text-sm rounded-lg
    focus:ring-blue-500
    focus:border-blue-500 
      block w-full p-2.5
      
  }
    

  .card{
    @apply 
      bg-[#222226]
        p-6
        rounded-lg
        shadow-md



  }

  .btn-close{
    @apply
      absolute 
    bg-zinc-800 
    text-white 
      rounded-full 
      p-2 
    hover:bg-red-600 
      w-8 h-8 
      flex justify-center 
      items-center
    
  }


  .apexcharts-tooltip {
    @apply text-red-500; /* Cambia el color del texto del tooltip */
  }



  


}

@layer utilities{


}
