@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  min-height: 100%;
}



@layer components {
  .btn-cyan {
    @apply 
    text-white 
      bg-gradient-to-r 
    from-cyan-400
    via-cyan-500
    to-cyan-600
      hover:bg-gradient-to-br
      focus:ring-4 focus:outline-none
    focus:ring-cyan-300
    dark:focus:ring-cyan-800 shadow-lg
    shadow-cyan-500/50 dark:shadow-lg
    dark:shadow-cyan-800/80 
      font-medium 
      rounded-lg 
      text-xl 
      px-5
     py-2.5
      text-center
      me-2 mb-2;
  }
  .btn-dark{
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700
  }

  .btn-red{
    @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900
  }

  .input-default{
    @apply
    bg-gray-50 border
    border-gray-300
    text-gray-900 
      text-sm rounded-lg
    focus:ring-blue-500
    focus:border-blue-500 
      block w-full p-2.5
    dark:bg-gray-700
    dark:border-gray-600
    dark:placeholder-gray-400
    dark:text-white
    dark:focus:ring-blue-500
    dark:focus:border-blue-500
  } 

  .card{
    @apply 
      bg-[#222226]
        p-6
        rounded-lg
        shadow-md



  }


}

@layer utilities{


}
